/**
 * Style
 *
 * @package TMTRU
 * @author Manuel Zavatta <manuel.zavatta@gmail.com>
 */

*{font-family:sans-serif;}

h1{font-size:36px;}
h2{font-size:27px;}
p{font-size:18px;}

.container{padding-top:99px;text-align:center;}

.hidden{visibility:hidden;}

.alert{color:orange}

.italic{font-style:italic;}
.bold{font-weight:bolder;}
